:root {
    /* background */
    --background-default: #e5e5e5;
    /* font-color */
    --font-light-color: #ffffff;
    --font-primary-color: #2B262D;
    --font-secondary-color: #DB9921;
    --font-tertiary-color: #6B4341;
    --font-opaque-primary-color: #6c5f71;
    /* color-palettes */
    --color-primary: #2B262D;
    --color-secondary: #DB9921;
    --color-tertiary: #FFFFFF;
    /* button-colors */
    --button-color-on: #DB9921;
    --button-color-off: #D98723;
    /* box-settings */
    --box-color-default--dark: #2B262D;
    --box-color-default: #f2f2f2;
    --box-border-radius: 20px;
    --box-shadow-default: 9px 9px 20px #d7d7d7,
    -9px -9px 20px #ffffff;
    --box-shadow-default--button-color: 5px 5px 10px #b8731e7b, -5px -5px 10px #fa9b286e;
    --box-shadow-default--reverse: inset 13px 13px 25px #cccccc, inset -13px -13px 25px #ffffff;
    /* font-familys */
    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-secondary: 'Swistblnk Moalang Melintang';

    --main-padding: 50px;
    --main-margin: 5px 0;
    --main-font-size: 40px;
    --secondary-font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../images/tumblr_mg4ugrTQfq1rc4njto1_500.gif');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--font-family-primary);
}

/*M>MARGIN--------------------------*/
.main {
    background: var(--background-default);
    display: block;
    justify-content: center;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px 0 40px 0;
}


/*BUTTON-ELONGATED*/
.button-elongated {
    display: flex;
    justify-content: center;
    
    width:150px;
    padding: 10px 20px;
    background: var(--button-color-off);
    border: none;
    border-radius: 50px;
    margin: 10px auto;

    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    line-height: 18px;
    font-weight: 800;
    color: var(--font-primary-color);
}
.button-elongated span {
    font-size: 18px;
    margin-right: 10px;
}
.button-elongated:hover {
    cursor: pointer;
    background: var(--button-color-on);
}


/*BUTTON-RADIO*/
.button-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    border: none;
    background: var(--box-color-default);
    /* box-shadow: var(--box-shadow-default); */
    
    font-size: 25px;

    /* transition: all 600ms; */
    transition: background 0ms;
}
.button-circle:hover {
    transition: background 600ms;
    background: var(--button-color-on);
}
.button-circle:active {
    transition: background 0ms;
    background: var(--box-color-default--dark);
}

.button-header__i {
    margin: auto;
    line-height: normal;
}
/**/

/*B>HEADER--------------------------*/
.container-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    justify-content: flex-start;
    z-index: 1;
    top: 0;

    height: 100%;
    width: fit-content;
    max-width: 1350px;
    padding: 0 10px;
    /* background-color: red; */
}
.container-header--right {
    right: 0;
    justify-content: flex-end;
}
.header {
    display: flex;
    flex-direction: column;
    
    width: fit-content;
}
.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    right: -10px;

    width: 60px;
    height: 50px;
    padding: .3125rem;
    border: 2px solid var(--font-opaque-primary-color);
    border-right: none;
    border-radius: 10px 0 0 10px;

    color: var(--font-primary-color);
    
    transition: background 0ms, color 300ms, right 600ms;
}
.header__menu:hover {
    color: var(--button-color-on);
    right: 0;
}
.header__menu:active {
    color: var(--font-primary-color);
    background: var(--button-color-on);
}
.header__menu-icon {
    font-size: 40px;
}
.header__nav {
    display: none;
    width: fit-content;
}
.header__ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.header__li {
    margin: 1.25rem 0;
}
.header__a {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 50px;
    width: 50px;

    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    font-weight: 800;
    color: var(--font-primary-color);

    transition: all 300ms;
}
.header__a:hover {
    color: var(--font-primary-color);
}
.header__a:active {
    color: var(--font-secondary-color);
}
.header__a--logo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;

    width: 50px;
    height: 50px;

    font-size: 30px;
}
@media (min-width: 769px) {
    .header__nav {
        display: block !important;
    }
}


/*B>FOOTER--------------------------*/

.container-footer { 
    background-color: var(--background-default);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    padding: var(--main-padding);
    max-width: 1200px;
    border-radius: 50px 50px 0 0;
    background-color: var(--box-color-default);
    box-shadow: var(--box-shadow-default);
}

.footer-top, .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: black;
    padding: 150px; /* Aumenta el padding para hacer las secciones más grandes */
}

.footer-top {
    background-color: #f0f0f0;
}

.footer-bottom {
    background-color: black;
}

.footer__ul {
    width: 30%;
    padding: 0;
    text-align: center; /* Centra el texto */
}

.footer__title, .footer__title_Down {
    font-size: var(--main-font-size);
    line-height: 30px;
    font-weight: 600;
    color: var(--button-color-off);
    margin-bottom: var(--main-margin);
}

.footer__li, .footer__li1 {
    list-style: none;
    margin: 15px 0; /* Aumenta el margen para separar más las palabras */
}

.footer__li {
    color: white;
}

.footer__li1 {
    color: rgb(27, 27, 27);
}

.footer__a {
    font-size: var(--secondary-font-size);
    line-height: 20px;
    font-weight: 600;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer__a:hover {
    color: var(--button-color-off);
}

#myBtn {
    display: none; /* Oculta el botón por defecto */
    position: fixed; /* Fija la posición del botón */
    bottom: 20px; /* Posición desde abajo */
    right: 30px; /* Posición desde la derecha */
    z-index: 99; /* Asegura que el botón esté por encima de otros elementos */
    border: none; /* No necesita borde */
    outline: none; /* Quita el borde al hacer clic */
    background-color: red; /* Color de fondo */
    color: white; /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar el ratón por encima */
    padding: 15px; /* Espacio alrededor del texto */
    border-radius: 10px; /* Bordes redondeados */
}

#myBtn:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el ratón por encima */
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
    .footer-top, .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__ul {
        width: 100%;
        padding: 20px 0;
    }
}


/*B>COVER---------------------------*/

.container-cover {
    position: relative;
    background-image: url('../images/tumblr_mg4ugrTQfq1rc4njto1_500.gif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-height: 900px;

    background-color: var(--box-color-default);
}
.cover {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1600px;
    max-height: 800px;
    color: rgb(255, 255, 255);
    position: relative;
}
.cover-content {
    width: auto;
}
.cover-content__title {
    font-family: var(--font-family-secondary);
    letter-spacing: 5px;
    font-size: 4em;
    line-height: 1em;
    font-weight: normal;
    text-align: center;
}
.cover-content__subtitle {
    font-size: .8em;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.cover-content__subtitle--inferior {
    margin-top: 40px;
    text-align: center;
}

/*PRODUCT*/
.product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
/*PRODUCT:MENU-FILTER*/
.column-menu-filter {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding: 20px;
    flex-grow: 0;
}
.column-menu-filter__text {
    font-weight: 600;
}
.column-menu-filter__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.column-menu-filter__menu-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: var(--box-border-radius);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--box-color-default);
    box-shadow: var(--box-shadow-default--button);
}
.column-menu-filter__menu-button:hover {
    cursor: pointer;
    color: var(--box-color-default);
    background: var(--button-color-on);
    box-shadow: -6px -6px 14px #fff1c073, 6px 6px 10px rgba(255, 238, 140, 0.288);
}
.column-menu-filter__icon {
    font-size: 30px;
    margin-right: 10px;
}

/*PRODUCT:LIST*/
.column-product-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
/*PRODUCT:CARD*/
.product-card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    padding: 20px;
    width: 100%;
    min-width: 289px;
    max-width: 400px;

    margin-bottom: 25px;
    border-radius: 30px;
    background: var(--box-color-default);
    box-shadow: var(--box-shadow-default);

    transition: all 800ms;
}
.product-card:hover{
    background: #f9f9f9;
    /* box-shadow: 13px 13px 25px #f5f5f5,-13px -13px 25px #ffffffd7; */
}
.product-card__cont-img {
    width: 100%;
    height: 310px;
}
.product-card__img {
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.product-card__cont-information {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: var(--font-primary-color);
}
.product-card__cont {
    display: flex;
    margin-bottom: 13px;
}
.product-card__label {
    display: flex;
    padding: 2px 4px;
    border-radius: 3px;
    width: fit-content;
    font-weight: 600;
    margin: 4px 0 0px;
    text-transform: uppercase;
    background-color: var(--button-color-on);
}
.product-card__title {
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
.product-card__item-group {
    width: 50%;
    
    display: flex;
    flex-direction: column;
}
.product-card__item-group--left {
    width: 100%;
    margin-bottom: 13px;
}
.product-card__item-group--right {
    width: 100%;
    padding-top: 19px;
    display: flex;
}
.product-card__price-previous {
    text-decoration: line-through;
    color: var(--font-opaque-primary-color);
}
.product-card__price {
    display: flex;
    width: fit-content;
    font-size: 24px;
    font-weight: 500;
}
.product-card__symbol {
    padding-right: 4.8px;
}
.product-card__price-discount {
    display: flex;
    width: fit-content;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    color: var(--font-secondary-color);
}
.product-card__rating {
    display: flex;
    font-size: 14px;
    color: var(--font-secondary-color);
}
.product-card__rating-number {
    margin-right: 8px;
    font-weight: 500;
}
.product-card__ratings {
    margin-right: 5px;
}
.product-card__amount {
    color: var(--font-opaque-primary-color);
}
/*PRODUCT:CARD-BOOKMARK*/
.product-card__bookmark {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 20px;
    color: var(--font-secondary-color);
}

/*PRODUCT:DETAIL*/
.product-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
}
.product-view-box {
    display: flex;
    width: 100%;
    height: fit-content;
    border-radius: 30px;
    background-color: var(--box-color-default);
    box-shadow: var(--box-shadow-default);
}
.column-product-view {
    width: fit-content;
}
.product-view__image-container {
    width: 200px;
    height: 200px;
    padding: 16px;
}
.product-view__image {
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}
.column-product-information {
    flex-grow: 1;
    padding: 16px 16px 16px 0;
}
.product-information__item {
    display: flex;
    margin: 0 0 12px 0;
}
.product-information__name {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-transform: capitalize;
}
.product-information__item--price {
    display: flex;
    flex-direction: column;
}
.product__price-previus {
    font-size: 16px;
    color: var(--font-opaque-primary-color);
}
.item__price-previous {
    color: var(--font-opaque-primary-color);
    text-decoration: line-through;
}
.item__price {
    display: flex;
    font-size: 36px;
    font-weight: 400;
    color: var(--font-primary-color);
}
.item__symbol {
    padding-right: 4.8px;
}
.item__price-discount {
    display: flex;
    align-items: center;
    padding-left: 10px;
    
    font-size:18px;
    font-weight: 400;
    color: var(--font-secondary-color);
}
.product-information__tittle {
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 500;
}
.product-information__item--ingredients {
    flex-direction: column;
}
.product-information__ingredients-list {
    border-radius: 20px;
    border: 2px solid var(--font-secondary-color);
}
.product-information__ul{
    padding: 10px;
}
.product-information__li {
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

/*PRODUCT:DETAIL-PANEL*/
.product-panel {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 25px 16px;
    background-color: var(--box-color-default);
    box-shadow: var(--box-shadow-default);
}
.button__product-panel {
    text-transform: capitalize;
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
    height: 50px;
    color: var(--background-light-color);
}
.button__product-panel--delete {
    background: var(--font-tertiary-color);
}

/*USERS:LIST*/
.users {
    display: flex;
 
    width: 100%;
}
/*USERS:CARD*/
.users-list {
    width: 100%;
}
.user-card {
    display: flex;

    padding: 20px 50px 20px 0;
    box-shadow: var(--box-shadow-default);
    border-radius: 30px;
}
.user-card__container-user-img {
    width: 208px;
    height: 160px;
    padding: 0 24px;
}
.user-card__user-img {
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}
.user-card__container-user-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.user-card__user-name {
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
.user-card__user-last-name {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}
.user-card__items-column {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.user-card__user-email,
.user-card__user-cell {
    width: 50%;
}

/*USERS:PROFILE*/
.container-user-profile {
    padding: 0 0 0 0;
    gap: 20px;
}

.user-profile__profile-cover {
    display: flex;
    position: relative;

    width: 100%;
    height: 50vh;
    
    border-radius: 0 0 20px 20px;
    background: var(--background-default);
    box-shadow: var(--box-shadow-default);
    overflow: hidden;
}
.user-profile__cover {
    height: 100%;
    width: 100%;
    
    object-position: center;
    object-fit: cover;
}

.user-profile__container-menu {
    width: 30%;
}
.user-profile__container-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    text-align: center;
    margin: auto;
    height: fit-content;
    width: fit-content;

    color: var(--font-light-color);
}
.user-profile__container-photo { 
    display: flex;

    width: 100px;
    height: 100px;
    border: 5px solid var(--color-tertiary);
    border-radius: 20px;
    overflow: hidden;
}
.user-profile__photo {
    width: 100%;
    height: 100%;
    
    object-position: center;
    object-fit: cover;
}
.user-profile__container-username {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-shadow: 1px 1px 2px var(--color-primary);

    padding: 10px;
}
.user-profile__user-name {
    text-transform: capitalize;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}
.user-profile__user-last-name {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
}

.user-profile__view-details {
    width: 100%;
    height: fit-content;
    padding: 40px;
    border-radius: var(--box-border-radius);
    background: var(--box-color-default);
    box-shadow: var(--box-shadow-default);
}
.user-profile__item-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}
.user-profile__item {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.container-user-profile--padding {
    padding: 0 20px;
}


/*FORMS:LOGIN&REGISTER*/
.container-form {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: fit-content;
    max-width: 350px;
    padding: 40px 0;
}
.form__head {
    margin: 0 0 20px 0;
    
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    
    color: var(--font-primary-color);
}
.form__footer {
    width: 100%;
    justify-content: center;
}
.form__form-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.form__form-items-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 100%;
    height: fit-content;
}
.form__form-items-column--right {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}
.form__item {
    width: 100%;
    height: fit-content;
    padding: 20px;
}
.form__input {
    width: 100%;
    padding: 8px;
    border: 2px solid rgba(100,100,100, 0);
    outline: none;
    border-radius: var(--box-border-radius);
    background: var(--box-color-default);
    box-shadow: var(--box-shadow-default);
    position: relative;

    font-size: 14px;
    font-weight: 400;
    
    transition: all 800ms;
}
.form__input:hover,
.form__input:focus {
    border: 2px solid var(--button-color-on);
}
.form__input-msg {
    position: relative;
    z-index: 1;
    margin-top: 10px;

    font-size: 13px;
    font-weight: 500;
    color: var(--button-color-on)
}
.form__input-msg-i {
    padding: 5px 10px;
    font-size: 13px;
}

.form__input-file{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.form__input-file + label {
    display: flex;
    justify-content:center;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    flex-direction: column;
    
    width: 100%;
    height: 300px;
    max-width: 300px;

    font-size: 1.25rem;
    font-weight: 700;
    
    border-radius: 15px;
    background: var(--box-color-default);
    box-shadow: var(--box-shadow-default);
    
    outline: 2px dashed var(--button-color-off);
    outline-offset: -10px;
}
.form__input-file + label i{
    font-size: 70px;
    color: var(--font-secondary-color);
}

.form-box__a {
    color: var(--button-color-off);
}
.form-box__a:visited {
    color: var(--button-color-off);
}
.form-box__a:hover {
    color: var(--button-color-on);
}
.form-box__a:active {
    color: var(--button-color-on);
}

.form-box__br-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-box__br {
    width: 47%;
    margin: auto 0;
}


/*   PRODUCT-CREATE  */
.product-create {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
}

/*   CARRITO DE COMPRAS  */
.cart {
    
}

.cart {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column-product-cart-list {
    flex: 2;
    border-right: 1px solid #f0f0f0;
}


.cart-list {
    list-style: none;
    padding: 20px;
}

.cart-item {
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Añade esquinas redondeadas si deseas */
}
.product-image {
    position: relative;
    width: 450px; /* Ajusta el ancho de la imagen según sea necesario */
    height: 200px; /* Ajusta la altura de la imagen según sea necesario */
    background-image: url('../images/banner.jpeg');
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo según sea necesario */
    background-position: center;
    border-radius: 8px; /* Añade esquinas redondeadas si deseas */
}

.product-name-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: #fff; /* Color del texto, ajusta según sea necesario */
}
.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
}

.product-name-overlay h2 {
    margin: 0;
    font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
}

.product-details {
    flex: 2;
    padding: 0 15px;
}

.product-price, .product-quantity, .product-total, .product-remove {
    flex: 1;
    text-align: center;
    padding: 0 15px;
}

.column-product-cart {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #f0f0f0;
}

.cart-summary {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
}

.cart-checkout {
    text-align: center;
    padding-top: 20px;
}

.cart-checkout button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
/* Móvil */
@media (min-width: 480px) {
    
}
/* Tablet */
@media(min-width: 768px) {
    .container {
        padding: 40px 80px 40px 80px;
    }

    .form--wide {
        max-width: none;
    }
    .product-card {
        max-width: none;
        flex-direction: row;
        padding: 20px 50px 20px 0;
    }
    .product-card__cont-img {
        width: 208px;
        height: 160px;
        padding: 0 24px;
    }
    .product-card__img {
        width: 160px;
        height: 160px;
    }
    /*MEDIA-MID:FORM*/
    .form__form-items-column {
        flex-direction: row;
    }
    .form__item {
        width: 50%;
    }
    .form__item--column {
        width: 100%;
    }
    .form__form-items {
        flex-direction: row;
    }
    .form__form-items-column,
    .form__form-items-column--right {
        width: 100%;
    }
    .form__footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .form__footer--row {
        flex-direction: row;
    }
    .button-elongated--row {
        margin: 10px 10px;
    }

    /*MEDIA-MID:USER-PROFILE*/
    .user-profile__profile-cover {
        height: 170px;
        padding: 0;
        border-radius: var(--box-border-radius);
    }
    .user-profile__container-user {
        margin: auto 35px;
        flex-direction: row;
        text-align: left;
    }
    .user-profile__container-username {
        padding: 10px 35px 10px 35px;
    }
    .user-profile__user-name,
    .user-card__user-last-name {
        text-align: left;
    }
}
/* Portátil */
@media(min-width: 1024px){
    /*MEDIA-MAX:HEADER*/
    .header__nav {
        display: flex;
    }
    .header__menu {
        display: none;
    }

    /*MEDIA-MAX:COVER*/
    .cover-content__title {
        font-size: 10em;
    }
    .cover-content__subtitle {
        font-size: 1.3em;
    }

    /*MEDIA-MAX:PRODUCT*/
    .product {
        flex-direction: row;
    }
    .column-menu-filter {
        width: 25%;
        padding-right: 14px;
    }
    .column-product-list {
        width: 75%;
        padding: 0;
    }
    .product-card {
        flex-direction: row;
        padding: 20px 50px 20px 0;
        max-width: none;
        width: 100%;
    }
    .product-card__cont-img {
        width: 208px;
        height: 160px;
        padding: 0 24px;
    }
    .product-card__img {
        width: 160px;
        height: 160px;
    }


    .product-detail {
        flex-direction: row;
    }
    .product-view-box {
        width: 70%;
    }
    .product-view__image-container {
        width: 400px;
        height: 400px;
        padding: 16px;
    }

    .product-panel {
        margin-left: 30px;
        width: 30%;
    }

    /*MEDIA-MAX:FORM*/
    .form__form-items-column {
        width: 65%;
        flex-direction: row;
    }
    .form__form-items-column--right {
        width: 35%;
    }
    .form__item {
        width: 50%;
    }
    .form__item--column {
        width: 100%;
    }
}