<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>
    <main class="main">
        <div>
            <section class="container container-form">
                <div class="form">
                    <div>
                        <h2 class="form__head">Inicio de sesión</h2>
                    </div>
                    <form class="form__form-items" action="/login" method="post">
                        <div class="form__item form__item--column">
                            <input type="text" name="email" placeholder="E-mail / Username" class="form__input ">
                        </div>
                        <div class="form__item form__item--column">
                            <input type="password" name="constraseña" placeholder="Password" class="form__input">
                        </div>
                        <div class="form__item form__item--column">
                            <a class="form-box__a" href="">¿Olvidaste tu contraseña?</a>
                        </div>
                        <div class="form__footer">
                            <button class="button-elongated"><span class="material-symbols-rounded">login</span>Entrar</button>
                            <div class="form-box__br-container">
                                <div class="form-box__br"><hr></div>
                                <span>o</span>
                                <div class="form-box__br"><hr></div>
                            </div>
                            <a class="button-elongated" href="/user/register">Registrarme</a>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </main>
</body>
</html>