<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>
    <main class="main">
        <div>
            <div class="container container-user-profile">
                <section class="user-profile__profile-cover">
                    <div class="user-profile__container-user">
                        <div class="user-profile__container-photo">
                            <img class="user-profile__photo" src="/images/users/default.png" alt="">
                        </div>
                        <div class="user-profile__container-username">
                            <p class="user-profile__user-name">elbio julian armando</p>
                            <p class="user-profile__user-last-name">Cruz mampaso</p>
                        </div>
                    </div>
                    <img class="user-profile__cover" src="/images/users/cover/users-cover.jpeg" alt="">
                </section>
                <section class="user-profile__view-details">
                    <div class="user-profile__details">
                        <h3 class="user-profile__item-title">Nombre</h3>
                        <p class="user-profile__item">elbio julian armando</p>
                        <h3 class="user-profile__item-title">Apellido</h3>
                        <p class="user-profile__item">cruz mampaso</p>
                        <h3 class="user-profile__item-title">Email</h3>
                        <p class="user-profile__item">silver_spear20@hotmail.com</p>
                        <h3 class="user-profile__item-title">Celular</h3>
                        <p class="user-profile__item">388-4474588</p>
                        <h3 class="user-profile__item-title">Dirección</h3>
                        <p class="user-profile__item">Av. catalano n43 Bsan martín</p>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <!-- footer -->
    <%- include('../partials/footer') %>
</body>
</html>