<footer>
    <!-- <footer class="container-footer">
        <div class="footer">
            <ul class="footer__ul">
                <h4 class="footer__title">Donde estamos</h4>
                <li class="footer__li"><a href="" class="footer__a">item 1</a></li>
                <li class="footer__li"><a href="" class="footer__a">item 2</a></li>
                <li class="footer__li"><a href="" class="footer__a">item 3</a></li>
                <li class="footer__li"><a href="" class="footer__a">Calle Falsa 123</a></li>
                <li class="footer__li"><a href="" class="footer__a">Ciudad Inventada</a></li>
                <li class="footer__li"><a href="" class="footer__a">País Imaginario</a></li>
            </ul>
            <ul class="footer__ul">
                <h4 class="footer__title">Nosotros</h4>
                <li class="footer__li"><a href="" class="footer__a">item 1</a></li>
                <li class="footer__li"><a href="" class="footer__a">item 2</a></li>
                <li class="footer__li"><a href="" class="footer__a">item 3</a></li>
                <li class="footer__li"><a href="" class="footer__a">Sobre nosotros</a></li>
                <li class="footer__li"><a href="" class="footer__a">Nuestro equipo</a></li>
                <li class="footer__li"><a href="" class="footer__a">Nuestra misión</a></li>
            </ul>
            <ul class="footer__ul">
                <h4 class="footer__title">Nuestras redes</h4>
                <li class="footer__li"><a href="" class="footer__a">item 1</a></li>
                <li class="footer__li"><a href="" class="footer__a">item 2</a></li>
                <li class="footer__li"><a href="" class="footer__a">item 3</a></li>
                <li class="footer__li"><a href="" class="footer__a">Facebook</a></li>
                <li class="footer__li"><a href="" class="footer__a">Twitter</a></li>
                <li class="footer__li"><a href="" class="footer__a">Instagram</a></li>
            </ul>
            <ul class="footer__ul">
                <h4 class="footer__title">Contacto</h4>
                <li class="footer__li"><a href="" class="footer__a">item 1</a></li>
                <li class="footer__li"><a href="" class="footer__a">item 2</a></li>
                <li class="footer__li"><a href="" class="footer__a">item 3</a></li>
                <li class="footer__li"><a href="" class="footer__a">Email: info@nuestrositio.com</a></li>
                <li class="footer__li"><a href="" class="footer__a">Teléfono: +1 234 567 890</a></li>
                <li class="footer__li"><a href="" class="footer__a">WhatsApp: +1 234 567 890</a></li>
            </ul>
        </div>
    </footer> -->
    
    <footer class="container-footer">
        <div class="footer-top">
            <ul class="footer__ul">
                <h4 class="footer__title">Pedidos</h4>
                <li class="footer__li1">Alcazár #445, Rancagua:</li>
                <li class="footer__li1">WhatsApp:</li><a href="" class="footer__a">+56 9 4796 4612</a>
                <li class="footer__li1">Bulevar Santa Sofía Piso #3, Machalí:</li>
                <li class="footer__li1">WhatsApp:</li><a href="" class="footer__a">+56 9 5711 2221</a>
                <li class="footer__li1">Avenida San Juan #133, Machalí:</li>
                <li class="footer__li1">WhatsApp:</li><a href="" class="footer__a">+56 9 7399 7156</a>
            </ul>
            <ul class="footer__ul">
                <h4 class="footer__title">Horario de atención</h4>
                <li class="footer__li1"><a href="" class="footer__a">Lunes a viernes: 9:00 - 18:00</a></li>
                <li class="footer__li1"><a href="" class="footer__a">Sábado: 10:00 - 14:00</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <ul class="footer__ul">
                <h4 class="footer__title_Down">Contacto</h4>
                <li class="footer__li"><a href="" class="footer__a">Email: info@nuestrositio.com</a></li>
                <li class="footer__li"><a href="" class="footer__a">Teléfono: +1 234 567 890</a></li>
                <li class="footer__li"><a href="" class="footer__a">WhatsApp: +1 234 567 890</a></li>
            </ul>
            <ul class="footer__ul">
                <h4 class="footer__title_Down">Nosotros</h4>
                <li class="footer__li"><a href="" class="footer__a">Sobre nosotros</a></li>
                <li class="footer__li"><a href="" class="footer__a">Nuestro equipo</a></li>
                <li class="footer__li"><a href="" class="footer__a">Nuestra misión</a></li>
            </ul>
            <ul class="footer__ul">
                <h4 class="footer__title_Down">Nuestras redes</h4>
                <li class="footer__li"><a href="" class="footer__a">Facebook</a></li>
                <li class="footer__li"><a href="" class="footer__a">Twitter</a></li>
                <li class="footer__li"><a href="" class="footer__a">Instagram</a></li>
            </ul>
        </div>
        <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

        <script>
            // Cuando el usuario hace scroll de 20px desde la parte superior del documento, muestra el botón
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
                } else {
                document.getElementById("myBtn").style.display = "none";
                }
            }
            
            // Cuando el usuario hace clic en el botón, desplaza al usuario a la parte superior del documento
            function topFunction() {
              document.body.scrollTop = 0; // Para Safari
              document.documentElement.scrollTop = 0; // Para Chrome, Firefox, IE y Opera
            }
            </script>
            
            </footer>
    </footer>
